body {
  margin: 0;
  margin-top: 50px;
  font-family: "Vazirmatn", sans-serif;
}
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}
header * {
  display: inline;
  height: 50px;
}
header ul {
  padding: 20px;
}
header li {
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}
section {
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#hero .profile-img {
  width: 300px;
  border-radius: 50%;
}
footer {
  text-align: center;
  padding: 50px;
}
#hero h1 {
  font-size: 3em;
}
section h2 {
  font-size: 2.5em;
}

section h3 {
  font-size: 1.5em;
}

header a {
  text-decoration: none;
  color: black;
}
#hero {
  background-color: #ff9200;
}

#about {
  background-color: azure;
}

#contact {
  background-color: antiquewhite;
}
#header-img {
  box-shadow: 0 0 45px rgba(74, 73, 73, 0.446);
  border: 2px solid black;
}

@media only screen and (max-width: 600px) {
  #hero .profile-img {
    width: 150px;
    border-radius: 50%;
  }
  #hero h1 {
    font-size: 1.5em;
  }
  #hero {
    height: 320px;
  }
  section h2 {
    font-size: 2em;
  }

  section h3 {
    font-size: 1em;
  }
  .section-inner {
    margin-left: 45px;
    margin-right: 45px;
  }
  p {
    font-size: 14px;
  }
  #about{
    height: 400px;
  }
  #contact{
    height: 320px;
  }
  footer{
    font-size: 12px;
  }
}
